tls-jks-cert-demo/src/main/mule/https-client-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">



	<http:listener-config name="HTTP_client_Listener_config_8088">
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	
	
	<http:request-config name="HTTPS_Request_configuration">
		<http:request-connection protocol="HTTPS" host="localhost" port="8081" >
			<tls:context >
				<tls:trust-store path="cacerts/servertruststore.jks" password="password" type="jks" insecure="true"/>
			</tls:context>
		</http:request-connection>
	</http:request-config>
	
	
	<flow name="https-client-demoFlow">
	
		<http:listener doc:name="GET /client" config-ref="HTTP_client_Listener_config_8088" path="/client" allowedMethods="GET"/>
	
		<logger level="INFO" message="client calling-start"/>
	
		<http:request method="GET" doc:name="https-req" config-ref="HTTPS_Request_configuration" path="/order"/>
	
		<logger level="INFO" doc:name="https req response" message="#[payload]"/>
	
	</flow>
</mule>
