tls-jks-cert-demo/src/main/mule/tls-jks-cert-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	
	
	
	<http:listener-config name="HTTPS_Listener_config">
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="8081" >
			<tls:context >
				<tls:key-store type="jks" path="cacerts\serverkeystore.jks" alias="aashitaserver.co.in" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	
	
	
	<flow name="tls-jks-cert-demoFlow">
		<http:listener config-ref="HTTPS_Listener_config" path="/order" allowedMethods="GET"/>
		<set-payload value='#[output application/json&#10;var arr = ["Sofa", "Chair", "Fridge","TV","Washing Machine"]&#10;---&#10;{&#10;	"sno": randomInt(9999),&#10;	"item": arr[randomInt(5)],&#10;	"orderdate": now() as String {format: "dd-MM-yyyy hh:mm"}	&#10;}]' />
	</flow>
</mule>
